In [4]:
first=int(input("enter a number"))
end=int(input("enter a number"))
for i in range(first,end+1):
    if(i>1):
        c=0
        for j in range(2,i):
            if(i%j==0):
                c=c+1
        if(c==0):
                print(i,end=" ")
    else:
            print("enter staring number from 2")

enter a number2
enter a number10
2 3 5 7

In [5]:
# two strings,return their concation omit first character
a="charan"
b="ganesh"
c=a+b
c[1:]

'haranganesh'

In [2]:
s="charan"
#"haran"
s[1:]

'haran'

In [3]:
s[2:]

'aran'

In [7]:
def concat(s1,s2):
    s2=s[1:]+s1[1:]
    return s2
concat(input("enter a string"),input("enter a string"))

enter a stringcharan
enter a stringganesh

'haranharan'

In [11]:
d={}
f=open("file.txt","r")
data=f.readlines()
print(data)
for lines in data:
    words=lines.split()
    print(words)
    for word in words:
        if work not in d:
            d[work]=1
        else:
            d[work]+=1
print(d)
f.close()

['welcome to charan\n', 'hello everyone\n', 'hello everyone']
['welcome', 'to', 'charan']

NameError: name 'work' is not defined

In [10]:
for i in range(3):
    f=open("ch.txt","a")
    f.write((input("enter a data"))+"\n")
    f.close()

enter a data80
enter a data8080
enter a data80

In [11]:
a="23"
int(a)

23

In [16]:
s=0
f= open("ch.txt","r")
data=f.readlines()
print(data,"line by line")
for ele in data:
    print((ele),"number")
    s=int(ele)+s
    print(s,"total sum")
f.close()

['80\n', '80\n', '80\n', '80\n', '80\n', '80\n', '8080\n', '80\n'] line by line
80
 number
80 total sum
80
 number
160 total sum
80
 number
240 total sum
80
 number
320 total sum
80
 number
400 total sum
80
 number
480 total sum
8080
 number
8560 total sum
80
 number
8640 total sum

In [17]:
s=0
f= open("ch.txt","r")
data=f.readlines()
print(data,"line by line")
for ele in data:
   # print((ele),"number")
    s=int(ele)+s
    print(s)
   # print(s,"total sum")
f.close()

['80\n', '80\n', '80\n', '80\n', '80\n', '80\n', '8080\n', '80\n'] line by line
80
160
240
320
400
480
8560
8640